<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Framework">
  <test name="Keyword">
    <classes>
       <class name="DriverFactory.KeyWordDriverScript"/>
         </classes>
  </test> <!-- Test -->
  <test name="Hybrid">
    <classes>
        <class name="DriverFactory.HybridDriverScript"/>
      
         </classes>
  </test> <!-- Test -->
  <test name="DataDriven">
    <classes>
           <class name="DriverFactory.DataDrivenDriverScript"/>
         </classes>
  </test> <!-- Test -->
</suite> <!-- Framework -->
